@model AllImages

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Nbrand.it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/style.css">
</head>
<body>
     <div class="menu">
        <div class="menu-title"><a href="/">Nbrand.it</a></div>
    </div>

     <div class="done-class">
         <div class="done-box">

             <div class="done-primary">
                 <img src="@Url.Content("~/Uploads/"+Model.Images[Model.Images.Count()-1])" alt="First image" class="done-primary-image" />
             </div>

             @for (int i = 0; i < Model.Images.Count() - 1; i++)
        {

         <div class="@("done-item " + (i==0 ? "done-active" : ""))">
             <img src="@Url.Content("~/Uploads/"+Model.Images[i])" alt="Image" class="done-image" />
             <div class="@("done-text " + (i==0 ? "done-active-text" : ""))">@Model.vals[i]</div>
         </div>

}

         </div>
     </div>

     <div class="buttonek" style="text-align: center;">
         <button class="drag-button drag-button-done" type="submit" style="margin-top: 50px;">Try it again!</button>
     </div>

</body>
</html>